.player-position {
  background-color: #222;
  color: #fff;
  font-size: 2rem;
  justify-content: center;
  margin-right: 10px;
  text-transform: uppercase;
}

.player-is-hero .player-position {
  border-color: var(--theme-green-color);
}

.player-is-villain .player-position {
  border-color: var(--theme-yellow-color);
}
