.trainer-choices {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.trainer-holecards {
  display: flex;
}

.button {
  background: #777;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.55);
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 10px 10px;
  text-align: center;
  min-width: 150px;
}

.button-fold {
  background-color: var(--grid-fold-color);
}

[class*="button-r"] {
  background-color: var(--grid-raise-color);
}

[class*="button-c"] {
  background-color: var(--grid-call-color);
}

.button-rai {
  background-color: var(--grid-allin-color);
}
