@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --grid-call-color: #4f9458;
  --grid-check-color: #129683;
  --grid-fold-color: #888787;
  --grid-raise-color: #f55353;
  --grid-allin-color: #a521c7;

  --theme-red-color: #c43302;
  --theme-yellow-color: #edaa25;
  --theme-gray-color: #b7bf99;
  --theme-green-color: #0a7373;
  --theme-dark-color: #010221;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #222;
}

h1 {
  color: #fff;
}

main {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 100px;
}
